@import url(http://allfont.ru/allfont.css?fonts=open-sans);

.logo {
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: 'Open Sans', arial;
}

#otstupLeft{
    margin-left: -30px;
}
ul.nav.navbar-nav li a {
    font-size: 14.667px;
  padding-left: 24px;
  padding-right: 24px;
  color: white;
  font-family: 'Open Sans', arial;


}
ul.nav.navbar-nav.class li a {


  border-left: 1px solid;
  border-right: 1px solid;
  border-color: rgba(81, 80, 80, 0);
}
ul.nav.navbar-nav.class li a:hover {
border-left: 1px solid;
border-right: 1px solid;
border-color: white;
}
ul.nav.navbar-nav li {
    margin: 0 19px 0 19px;
}
ul.nav.navbar-nav li a:hover{
  background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
}
.navbar-color{
  background-image: -moz-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(68,67,67) 0%, rgb(94,94,94) 100%);
  border-color: rgba(8, 8, 8, 0);
}
.actived {
  background-image: -moz-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(46,46,46) 0%, rgb(74,74,74) 100%);
  border-left: 1px solid;
  border-right: 1px solid;
  border-color: white;
}

/*contents*/

section.contents {
    margin-top: 20px;
    margin-bottom: 50px;
}
.col-md-3 {
    width: 30%;
}
.col-md-9 {
    width: 69%;
    margin-left: 10px;
}

li.list-group-item a{
    font-size: 14.333px;
    color: rgb(101, 99, 99);
    line-height: 1.8;
    font-family: 'Open Sans', arial;
    padding-left: 21px;
    padding-top: 13px;
    padding-bottom: 13px;
        padding-right: 118px;
}

li.list-group-item {
    position: relative;
    display: block;
    padding: 10px 0px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
li.list-group-item.ackted, li.list-group-item a {
    -webkit-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -o-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -ms-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    -moz-transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}


li.list-group-item.ackted:hover {

   color: black;
   background-color: #f9f9f9;
}
li.list-group-item.ackted a:hover {
    color: black;
    padding-left: 36px;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-right: 133px;
}
.images {
    border: 1px solid;
    border-color: #dddddd;
    margin-bottom: 20px;
}

div.images img {
    width: 580px;
    height: 335px;
    margin-top: 50px;
    margin-bottom: 50px;
}
section.contents p {
    margin: 0px 35px 0px 35px;
    color: rgb(44, 44, 44);
    line-height: 1.6;
    font-family: 'Open Sans', arial;
    font-size: 14px;
}
/*footer*/
.navbar-colorTwo{
  background-color: #e1e1e1;
  border-color: rgba(8, 8, 8, 0);
}

ul.nav.navbar-nav.footer li a {
font-size: 13.33px;
color: black;
font-family: 'Open Sans', arial;
}
ul.nav.navbar-nav.footer li a:hover{
background-image: -webkit-linear-gradient( 90deg, rgba(46, 46, 46, 0) 0%, rgba(74, 74, 74, 0) 100%);
text-decoration: underline;
}

li.nav.navbar-nav.navbar-right a {
    font-size: 13.33px;
    color: black;
    font-family: 'Open Sans', arial;
    margin: 0 19px 0 19px;
}

ul.nav.navbar-nav.footer.navbar-right li a.copiring:hover {
  cursor: text;
  text-decoration:none;
}
